#chord-container {
  width: 50%;
  border: 1px solid black;
}

#search-bar {
  width: 90%;
  margin: 0px auto;
}

#search-input {
  width: 100%;
}

#inversions {
  width: 90%;
  margin: 0px auto;
}

#piano {
  width: 90%;
  margin: 0px auto;
  height: 320px;
  margin-bottom: 40px;
}

.octave {
  display: inline;
  /* tmp */
  width: 50%;
  height: 40px;
  border: 1px solid black;
  margin: 0px;
}
